/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
	font-family: 'icons';
	src:url('../fonts/fonts/icons.eot?-3a50i6');
	src:url('../fonts/fonts/icons.eot?#iefix-3a50i6') format('embedded-opentype'),
		url('../fonts/fonts/icons.woff?-3a50i6') format('woff'),
		url('../fonts/fonts/icons.ttf?-3a50i6') format('truetype'),
		url('../fonts/fonts/icons.svg?-3a50i6#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-tab1:before {
	content: "\f08e";
    padding-right:5px;
}
.icon-tab2:before {
	content: "\f006";
    padding-right:5px;
}
.icon-tab3:before {
	content: "\f115";
    padding-right:5px;
}
.icon-tab4:before {
	content: "\f0c5";
    padding-right:5px;
}
/*****CSS HEADER****/

html
 {
    color: white;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.4;
   
}
a
{
    color:white;
    text-decoration:none;
}
a:hover
{
    cursor:pointer;
}
li
{
     list-style-type:none;
}
p 
{
    margin:0;
}
ul 
{
    padding: 0;
    margin: 0;
    display: flex;
}
body
{
    height:100rem;
    margin:0;
    background-image:url(../img/body-background.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
header
{
    background-color:black;
    height:5rem;
    width:100%;
}
.layout-wrap
{
    width:100%;
    height:100%;
    max-width:1050px;
    margin:0 auto;
}
header img
{
    margin-top:2rem;
    margin-left:1rem;
}
.search-box
{
    float:right;
    margin-top:2rem;
    margin-right:3rem;
    display:inline-block;
    height:2rem;
    width:10rem;
}
/*****PAGE CSS*****/
.page-body
{
    background-color:#666666;
    height:93%;
}
.notifications
{
    color:black;
    display:none;
    width:96%;
    margin-left:1.5%;
    float:left;
    margin-top:1rem;
    padding-top:0.5rem;
    padding-left:1rem;
    height:2.5rem;
    background-color:#d3d3d3;
}
.show
{
    display:block;
}
nav
{
    display:flex;
    width:100%;
    height:auto;
}
.nav-section
{
    position:relative;
    display:inline-block;
    background-color:black;
    width:30%;
    margin-top:1rem;
    margin-left:1.5%;
    margin-right:1.5%;
    height:11rem;
    background-image:url(../img/icons/action-report-top.png);
    background-repeat:no-repeat;
    background-size:8rem 7rem;
    background-position-x:50%;
    background-position-y:5rem;
}
nav .nav-section:first-child
{
        background-image:url(../img/icons/action-report-new.png);
}
nav .nav-section:nth-child(3)
{
        background-image:url(../img/icons/actions-help.png);
}
.action-list
{
    z-index:12;
    padding-left:2%;
    padding-right:2%;
    position:absolute;
    background-color:white;
    display:none;
    width:96%;
    height:10.5rem;
    box-shadow:5px 5px 5px hsla(0, 0%, 29%, 0.6);   
}
.action-list li
{
    
    margin:0;
    width:100%;
    height:2rem;
    border-bottom:1px solid grey;
}
.action-list li:last-child
{
    border:0;
}
.action-list a
{
    font-size:1.1rem;
    padding-top:0.5rem;   
    color:black;
    display:block;
}
.nav-section:hover .action-list
{
    display:block;
}
.nav-section:hover 
{
    box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.1);
}
.nav-section:hover .menu-caption
{
    background-color:rgba(211, 211, 211, 0.9);
}
.nav-section >p
{
    padding-top:1rem;
    text-align:center;
    margin:auto;
    width:10rem;
    height:4rem;
    color:white;
    font-size:1.2rem;
}
.nav-section:hover >.menu>.menu-caption>.arrow-wrap >.arrow
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.menu
{
    width:100%;
}
.menu-caption
{
    background-color:#d3d3d3;
    height:2.5rem;
    width:100%;
    margin-top:3.5rem;
}
.menu-caption p
{
    display:inline-block;
    width:auto;
    color:black;
    padding-left:1rem;
    padding-top:0.5rem;
    font-size:1.1rem;
}
.arrow-wrap 
{
    float:right;
    margin-top:1rem;
    margin-right:0/5rem;
    display:inline-block;
    width: 1.5rem;
}
.arrow{
    width:0px;
    height:0px;
    border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid black;
    transition: 0.2s linear all;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.tabs
{
   
    z-index:1;
    width:100%;
    height:70rem;
    padding:0;
    margin:0;
}
.tabs>ul li 
{
    border:0;
    margin-left:1.5%;
    margin-top:3rem;
    display:inline-block;
    width:23%;
    height:3rem;
    padding:0;

}
.tabs>ul  li:nth-child(4)
{
    margin-right:1.5%;
} 
.tabs>ul  li a
{
    padding-top:0.5rem;
    width:100%;
    height:2.5rem;
    display:inline-block;
    text-align:center;
}
#quick-reports-tab, #my-folders-tab,#my-team-folders-tab,#public-folders-tab
{
    background-color:#d3d3d3;
    width:96.5%;
    margin-left:1.5%;
    height:100%;
}
.hide-tab
{
    display:none;
}
.show-tab
{
    display:block;
}
/****************reports tab*****************88*/
#quick-reports-tab,#my-team-folders-tab
{
    position:relative;
}
.selected-tab
{
    background-color:#d3d3d3;
    color:black;
}
.unselected-tab
{
    background-color:#333333;
}
.font-color-tab
{
    color:black;
}
label:hover
{
    cursor:pointer;
}
.sites-sel
{
    margin-top:1rem;
    margin-left:1.5%;
    height:2rem;
    width:25%;
    border:0;
}
.settings-checkbox
{
    display:none;
}
.settings
{
    background-image:url(../img/icons/settings.png);
    background-repeat:no-repeat;
    background-position:center;
    height:3rem;
    width:3rem;
    float:right;
    margin-top:1rem;
    margin-right:1.5%;
}
.settings-checkbox:checked +.settings
{
    background-color:white;
}
.link-arrow
{   
    background-image:url(../img/icons/expand.png);
    background-repeat:no-repeat;
    background-position:center;
    height:3rem;
    width:3rem;
    float:right;
    margin-top:1rem;
}
.reports-list-wrap
{
    position:absolute;
    height:17rem;
    background-color:white;
    width:97%;
    margin-left:1.5%;
    margin-top:1rem;
    max-height:0rem;
    overflow:hidden;
    transition: max-height 0.2s;
    z-index:10;
}
.settings-checkbox:checked ~.reports-list-wrap
{
    max-height:17rem;
}
.reports-list-wrap .report:first-child
{
    margin-top:1.5rem;
}
.report
{
    display:block;
    background-color:#c8c8c8;
    height:1.5rem;
    width:95.5%;
    padding:1%;
    margin-left:1.5%;
    margin-bottom:1.5rem;
    overflow:visible;
    
}
.report-num
{
    float:left;
    margin:0;
    display:inline-block;
    color:black;
    font-weight:normal;
    font-size:1.2rem;
    width:16%;
    height:100%;
    overflow:hidden;
}
.form-wrap
{
    float:left;
    position:relative;
    width:42%;
    height:100%;
    color:black;
    display:inline-block;
}
.report label
{
    height:auto;
    width:20%;
    font-size:1.2rem;
}
.site-input
{
    border:0;
    height:90%;
    color:black;
    width:70%;
    font-size:1rem;
    outline-color:dodgerblue;
}
.save
{
    margin-right:1.5%;
    display:block;
    float:right;
    height:2rem;
    width:6rem;
    background-color:black;
    text-align:center;
    font-size:1.2rem;
}
.cancel
{
    font-size:1.2rem;
    height:2rem;
    position:absolute;
    right:9rem;
    color:black;
    display:block;
    text-decoration:underline;
    text-align:center;
    padding-top:0rem;
}
.error
{
    z-index:5;
    background-color:white;
    height:1.5rem;
    width:11rem;
    position:absolute;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 2px hsla(0, 0%, 24%, 0.7);
    top:2rem;
    right:2rem;
}
.error-tri 
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top:-0.3rem;
    right:2rem;
}
.error-icon
{
    margin-left: 0.3rem;
    margin-top: 0.2rem;
    height: 1rem;
    background-color: rgb(255, 165, 0);
    color: white;
    width: 1rem;
    text-align: center;
    font-size: 0.9rem;
    float: left;
}
.error p
{
    color:black;
    font-size:0.9rem;
    text-align:center;
    padding-top:0.1rem;
}
.error-input
{
    outline-color:red;
}
.site-iframe
{
    position:absolute;
    top:5rem;
    left:1.5%;
    z-index:5;
    height:91%;
    width:97%;
}
/****************my-folders tab*****************88*/
#my-folders-tab a
{
    margin-right:1.5%;
    
}
.const-site
{
    margin-right:3%;
    margin-left:3%;
    height:92%;
    width:94%;
}
/*****************public-folders tab**************************/
#public-folders-tab a
{
    margin-right:1.5%;
    
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
